@charset "utf-8";

.sidebar {
	float: left;
	width: 180px;
}

ul.nav {
	list-style: none;
	border-top: 1px solid #666;

}
ul.nav li {
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	width: 160px;
	text-decoration: none;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background: #6F7D94;
	color: #FFF;
}