<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/courses_system</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!--TODO:разобраться с билдером-->

		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="by.pvt.pintusov.courses.pojos.User"/>
		<mapping class="by.pvt.pintusov.courses.pojos.Course"/>
		<mapping class="by.pvt.pintusov.courses.pojos.Mark"/>
		<mapping class="by.pvt.pintusov.courses.pojos.Archive"/>
		<mapping class="by.pvt.pintusov.courses.pojos.AccessLevel"/>
		<mapping class="by.pvt.pintusov.courses.enheritance.Person"/>
		<mapping class="by.pvt.pintusov.courses.enheritance.Student"/>
		<mapping class="by.pvt.pintusov.courses.enheritance.Teacher"/>
	</session-factory>
</hibernate-configuration>
